div.fadeMe {
    margin-top: -20px;
  background: rgba(0,0,0,0.5);
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        35;
  left:       0;
  position:   fixed;
}

.light{
	color: white !important;
    font-weight: bold;}

.navbar{
  color:white;
  background-color: #09335d;
}

div.fade-area{
    margin: 40px 40px 40px 40px;
    text-align: center;

}

p.result-text{
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
    font-size: 60px;
    color: #fff;
}

p.incorrect-text{
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1), rgba(255,0,0,0));
}

p.correct-text{
    background: linear-gradient(to right, rgba(0,255,0,0), rgba(0,255,0,1), rgba(0,255,0,0));
}

p.learn-text{
    font-size: 30px;
    color: #fff;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
}

img.question-img{
    max-height: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

div.img-row{
    min-height: 320px;
}

.center-row{
    display: inline-block;
    position:relative;
}

.center-div{
    vertical-align: middle;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.progress-bar-vertical {
  width: 50%;
  height: 560px;
  display: block;
  margin: 0px 10px 0px 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-end;
  float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 560px;
  transition: height 0.1s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#invisidiv{
    width: 100%;
    height: 0;
    transition: height 0.1s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-quiz-container{
    padding-top: 20px;
}


.btn:focus {
  outline: none;
}

.answer-btn{
    background-color: #09335d;
}


.question-progress{
    position:absolute;
	margin-top:-10px;
	z-index:1;
	height:40px;
	width:40px;
	border-radius:25px;

}

.btn-lg:hover{
	background-color: white;
	color: black; 
}
#next:hover{
	background-color: white;
	color: black; 
}

.primary-color{
	background-color:#4989bd;
}
.success-color{
	background-color:#5cb85c;
}
.danger-color{
	background-color:#d9534f;
}
.warning-color{
	background-color:#f0ad4e;
}
.info-color{
	background-color:#5bc0de;
}
.no-color{
	background-color:inherit;
}
.in-progress{
    background-color:#4989bd;
}

.white-text{
    color: #FFFFFF;
}

.button-link{
    text-decoration: none;
    padding: 0, 10px, 0, 10px;
}

.center-align{
    text-align: center;
}
