{% extends 'base.html' %} {% load staticfiles %}
{% block title %}Index{% endblock %}
{% block body_block %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.1/howler.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
 <link href="{% static 'css/table.css' %}" rel="stylesheet">
 <script src="{% static 'js/script.js' %}"></script>
<script>


$(document).ready(function(){

  $('#global_table').pageMe({pagerSelector:'#global_pager',showPrevNext:true,hidePageNumbers:false,perPage:4});

});
</script>

<div class="container center-align">
    <div class="row">
		<h1 class="index-header">The Glasgow Quiz</h1>
    </div>
    <div  class="jumbotron">
        <a class="btn btn-custom" href="{% url 'quiz' %}">
            <h1>START QUIZ</h1>
        </a>
    </div>
    <div class="index-p">
        <p>Welcome to the Glasgow Quiz!</p>
        <p>Test your knowledge of Glasgow, or take the quiz to learn more. Login or Register to track your score and see where you stand on the global scoreboard or the scoreboard of your local area.</p>
    </div>
</div>



{% endblock %}
