{% extends 'base.html' %} {% load staticfiles %}
{% block title %}Index{% endblock %}
{% block body_block %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.1/howler.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
 <link href="{% static 'css/table.css' %}" rel="stylesheet">
 <script src="{% static 'js/script.js' %}"></script>
<script>


$(document).ready(function(){

  $('#global_table').pageMe({pagerSelector:'#global_pager',showPrevNext:true,hidePageNumbers:false,perPage:4});

});
</script>

<div class="container center-align">
    <div class="row">
        <h1>The Glasgow Quiz</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Leaderboard</h3>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>Username</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody id="global_table">
                        {% for profile in profiles %}
                            <tr>
                                <td>
                                    {% if profile.user == user %}<b>{% endif %}
                                        {{ forloop.counter }}
                                    {% if profile.user == user %}</b>{% endif %}
                                </td>
                                <td>
                                    <img src="{{ profile.picture.url }}" style="width: 32px; height: 32px; margin: -6px 0 -6px 0"/>
                                </td>
                                <td>
                                    {% if profile.user == user %}<b>{% endif %}
                                        {{ profile.user.username }}
                                    {% if profile.user == user %}</b>{% endif %}
                                </td>
                                <td>
                                    {% if profile.user == user %}<b>{% endif %}
                                        {{ profile.total_score }}
                                    {% if profile.user == user %}</b>{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <ul class="pagination pagination-lg pager" id="global_pager"></ul>
        </div>
        <div class="col-md-6">
            <div  class="jumbotron">
                <a class="btn btn-custom" href="{% url 'quiz' %}">
                    <h1>Start Quiz!</h1>
                </a>
            </div>
        </div>
    </div>
</div>



{% endblock %}
