{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body_block %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>$(function () {

    $(document).ready(function () {
        var userprofile = {{ userprofile_json|safe}};
        console.log(userprofile.score.T);
        console.log(userprofile.score.P);
        console.log(userprofile.score.H);
        console.log(userprofile.score.L);

        // Build the chart
        Highcharts.chart('chart_container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Scores'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: false,
                data: [{
                    name: 'Trivia',
                    y: userprofile.score.T,
                    color:'#884dff'
                }, {
                    name: 'Location',
                    y: userprofile.score.L,
                    color:'#008ae6'
                }, {
                    name: 'People',
                    y: userprofile.score.P,
                    color:'#ff4dc4'
                }, {
                    name: 'History',
                    y: userprofile.score.H,
                    color:'#33ffad'
                }]
            }]
        });
    });
});</script>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>{{ user.username }}</h2>
    		{% if userprofile %}
                {% if userprofile.picture %}
                    <img src="{{ userprofile.picture.url}}" style="width: 100%;" />
                    <p>{{ userprofile.location }}</p>
                    <button><a href="{% url 'auth_password_change' %}">Password change</a></button>
                {% endif %}
    		{% endif %}
        </div>
        <div class="col-md-4">
            <h3>Global Scoreboard</h3>
            	<table class="table table-striped">
    		<tr>
    		    <th>#</th>
                <th></th>
    		    <th>Username</th>
    		    <th>Score</th>
    		  </tr>
              {% for profile in all_profiles %}

    		  <tr>
    		    <td>
                    {% if profile.user == user %}<b>{% endif %}
                        {{ forloop.counter }}
                    {% if profile.user == user %}</b>{% endif %}
                </td>
                <td>
                    <img src="{{ profile.picture.url }}" style="width: 32px; height: 32px; margin: -6px 0 -6px 0"/>
                </td>
    		    <td>
                    {% if profile.user == user %}<b>{% endif %}
                        {{ profile.user.username }}
                    {% if profile.user == user %}</b>{% endif %}
                </td>
    		    <td>
                    {% if profile.user == user %}<b>{% endif %}
                        {{ profile.total_score }}
                    {% if profile.user == user %}</b>{% endif %}
                </td>
    		  </tr>

              {% endfor %}
    		</table>
            <h3>Local Scoreboard</h3>
            	<table class="table table-striped">
    		<tr>
    		    <th>#</th>
                <th></th>
    		    <th>Username</th>
    		    <th>Score</th>
    		  </tr>
              {% for profile in local_profiles %}
              <tr>
    		    <td>
                    {% if profile.user == user %}<b>{% endif %}
                        {{ forloop.counter }}
                    {% if profile.user == user %}</b>{% endif %}
                </td>
                <td>
                    <img src="{{ profile.picture.url }}" style="width: 32px; height: 32px; margin: -6px 0 -6px 0"/>
                </td>
    		    <td>
                    {% if profile.user == user %}<b>{% endif %}
                        {{ profile.user.username }}
                    {% if profile.user == user %}</b>{% endif %}
                </td>
    		    <td>
                    {% if profile.user == user %}<b>{% endif %}
                        {{ profile.total_score }}
                    {% if profile.user == user %}</b>{% endif %}
                </td>
    		  </tr>
              {% endfor %}
    		</table>
		</div>
        <div class = "col-md-4">
        	<div id="chart_container" style="min-width: 310px; height: 400px; width: 100%; margin: 0 auto"></div>
        </div>
    </div>
</div>
{% endblock %}
